.css_id_correctivo__label {text-align:;}
.css_id_correctivo__line {text-align:left;}
.css_id_correctivo__obj {text-align:left;}
.css_correctivo_fecha__label { }
.css_correctivo_fecha__line { }
.css_correctivo_fecha__obj { }
.css_tipo_mantenimiento_idtipo_mantenimiento__label { }
.css_tipo_mantenimiento_idtipo_mantenimiento__line {text-align:left;}
.css_tipo_mantenimiento_idtipo_mantenimiento__obj {text-align:left;}
.css_correctivo_observaciones__label { }
.css_correctivo_observaciones__line { }
.css_correctivo_observaciones__obj { }
.css_correctivo_estado__label { }
.css_correctivo_estado__line { }
.css_correctivo_estado__obj { }
.css_idvehiculo__label {text-align:;}
.css_idvehiculo__line {text-align:left;}
.css_idvehiculo__obj {text-align:left;}
