.css_dependencia_descripcion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_dependencia_descripcion_grid_line {vertical-align: top;text-align: left;}
.css_dependencia_estado_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_dependencia_estado_grid_line {vertical-align: top;text-align: left;}
.css_iddependencia_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_iddependencia_grid_line {vertical-align: top;text-align: right;}
